// Pagination
.pagination--container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  gap: 10px;
  padding-bottom: 2rem;
}

@media screen and (max-width: 400px) {
  .pagination--container {
    padding: 10px;
  }
}

.pagination--previous--wrapper {
  grid-column: 1/2;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
}

.pagination--pages--wrapper {
  grid-column: 2/3;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination--next--wrapper {
  grid-column: 3/4;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.pagination--pages {
  text-decoration: none;
  color: var(--primary-black);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: var(--primary-white);
  border: 1px solid #d1d5db;
  cursor: pointer;
}

.pagination--pages--active {
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
}

.pagination--prev,
.pagination--next {
  background-color: var(--primary-dark-blue);
  border: none;
  color: var(--primary-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.pagination--prev {
  padding: 0.5rem 0.65rem 0.4rem 0.25rem;
}

.pagination--next {
  padding: 0.5rem 0.25rem 0.4rem 0.65rem;
}

.pagination--prev > img,
.pagination--next > img {
  width: 20px;
}
