.profile--page--container {
  min-height: 95vh;
  padding-top: 5rem;
  background-color: var(--primary-off-white);
}

.account--info--wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.account--card {
  width: 300px;
  min-height: 150px;
  border: 2px solid var(--primary-gray);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-white);
  margin: 1rem;
}

.account--card--header {
  width: 296px;
  height: 50px;
  margin: -1rem -1rem 0.5rem -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-white);
  background-color: var(--primary-dark-blue);
  border-radius: 5px 5px 0 0;
}

.account--card--content {
  margin: 0.25rem;
}

.account--card--btn--wrapper {
  align-self: center;
}
.account--card--edit--btn {
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  margin: 0.25rem 0;
  text-align: center;
  display: block;
}

.account--card--error--wrapper {
  background-color: #eb6464;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}
.account--card--edit--error {
  font-size: 0.9rem;
  color: #fff;
}

.account--card--success--wrapper {
  background-color: rgb(166, 209, 166);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}
.account--card--edit--success {
  font-size: 0.9rem;
  color: var(--primary-black);
}

.account--card--password--wrapper {
  align-self: flex-start;
}

.hunter--card {
  text-align: center;
}

.profile--connections--wrapper {
  max-width: 1536px;
  margin: auto;
}

.profile--connections--header {
  text-align: center;
}

.account--info--header {
  text-align: center;
  margin: 1rem;
  margin-top: 2rem;
}

.profile--pagination--wrapper {
  padding: 1rem;
}

.hunter--card--content {
  text-align: start;
}

// TALENT PROFILE CARDS
.talent--card {
  .talent--card--info {
    .profile--card--note {
      text-align: center;
      margin-bottom: 0.25rem;
      margin-top: 0.25rem;
      line-height: 12px;
    }
  }
}

.profile--card--edit--button {
  margin-top: 0.5rem;
}

.talent--card--profile--inactive--msg--wrapper {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.talent--card--profile--inactive--msg--header {
  font-weight: 700;
  margin: 1rem;
  font-size: 1.5rem;
}

.talent--card--brand--text {
  color: var(--primary-black);
  font-family: var(--font-league-spartan);
  font-size: 2rem;
}

.talent--card--brand--dot {
  color: var(--primary-dark-blue);
  font-family: var(--font-league-spartan);
  font-size: 2rem;
}

.talent--card--expanded {
  max-width: 600px;
}

.profile--form--wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.form--group--wrapper {
  width: 250px;
  display: flex;
  flex-direction: column;
}
