.talent--cards--wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1536px;
  margin: auto;
  // Temporary
  min-height: 800px;
}

// TEMPORARY
.talents--page--container {
  padding-top: 5rem;
}
