:root {
  --primary-white: #ffffff; //Pure white
  --primary-off-white: #efefef; //Dirty white
  --primary-black: #000000;
  --primary-desaturated-blue: #7c99ac; //Hero section
  --primary-dark-blue: #1572a1; // Buttons
  --primary-very-dark-blue: #11324d; // Features background
  --primary-gray: #d1d5db;
}

// How to use?
// .class {
//   color: var(--primary-white); White text
//   background-color: var(--primary-black); Black background
// }
