@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-league-spartan: "League Spartan", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
}

:root {
  --primary-white: #ffffff;
  --primary-off-white: #efefef;
  --primary-black: #000000;
  --primary-desaturated-blue: #7c99ac;
  --primary-dark-blue: #1572a1;
  --primary-very-dark-blue: #11324d;
}

.talent--cards--wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1536px;
  margin: auto;
}

.talent--card {
  background-color: #1a1b21;
  max-width: 317px;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
}

.talent--image--wrapper img {
  width: 317px;
}

.talent--card--header {
  padding: 21px 34px 0 36px;
  text-align: center;
}

.talent--card--name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 6.19px;
}

.talent--card--role {
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  color: #f3bf99;
  margin-bottom: 8.81px;
}

.talent--card--website {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #f5f5f5;
}

.talent--card--button--wrapper {
  padding: 15px 25px 35px;
  text-align: center;
}

.talent--card--btn {
  padding: 9px 13px 9px 11px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 115px;
  transition: all 0.5s;
  cursor: pointer;
}

.talent--card--btn--logo {
  margin-right: 10px;
  vertical-align: middle;
}

.talent--card--btn--email {
  margin-right: 17px;
  /* white */
  background: #ffffff;
  /* gray/300 */
  border: 1px solid #d1d5db;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.talent--card--btn--linkedin {
  color: #ffffff;
  background: #5093e2;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.talent--card--btn:hover {
  transform: scale(1.05);
}

.talent--card--about--wrapper {
  padding: 0 36px;
}

.talent--card--about--header {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  padding-bottom: 5px;
  color: #f5f5f5;
}

.talent--card--about {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */
  padding-bottom: 27px;
  color: #dcdcdc;
}

.talent--card--footer {
  height: 64px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  padding: 20px 73px 19px 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign--up--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.sign--up--wrapper {
  background-color: #1a1b21;
  color: #ffffff;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  width: 400px;
}

.sign--up--wrapper > h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sign--up--input--group {
  font-size: 12px;
}

.sign--up--notification {
  font-size: 10px;
  margin-left: 5px;
}

.sign--up--error {
  color: #FF8C8C;
}

.sign--up--success {
  color: #82DBD8;
}

.sign--up--radio--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}

.sign--up--radio--group {
  margin: 0px 55px;
}

.sign--up--input--group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 10px;
}

.sign--up--input {
  padding: 9px 13px 9px 11px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  transition: all 0.5s;
}

.sign--up--input {
  padding: 9px 13px 9px 11px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  transition: all 0.5s;
}

.sign--up--btn {
  padding: 9px 13px 9px 11px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
}

.sign--up--btn:hover {
  transform: scale(1.05);
}

.sign--up--wrapper > p {
  text-align: center;
  font-size: 15px;
  color: #efefef;
  margin-top: 5px;
}

.sign--up--wrapper > p > a {
  color: #ffffff;
}