@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,600;1,700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-league-spartan: "League Spartan", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
}

:root {
  --primary-white: #ffffff;
  --primary-off-white: #efefef;
  --primary-black: #000000;
  --primary-desaturated-blue: #7c99ac;
  --primary-dark-blue: #1572a1;
  --primary-very-dark-blue: #11324d;
  --primary-gray: #d1d5db;
}

.hero--container {
  background-color: var(--primary-desaturated-blue);
  height: 574px;
}

.hero--wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 574px;
  position: relative;
  width: 100%;
  padding-right: 20rem;
  z-index: 10;
}

.hero--bg {
  position: absolute;
  left: 20%;
  z-index: 10;
}

.hero--wrapper img {
  width: 500px;
}

@media screen and (max-width: 1600px) {
  .hero--wrapper {
    padding-right: 10rem;
  }
}
@media screen and (max-width: 1450px) {
  .hero--bg {
    left: 15%;
  }

  .hero--wrapper {
    padding-right: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .hero--bg {
    left: 0;
    bottom: -3px;
  }

  .hero--wrapper {
    padding-right: 2rem;
  }

  .hero--wrapper img {
    width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .hero--bg {
    left: -10%;
  }

  .hero--wrapper {
    padding-right: 0;
  }
}
.hero--header {
  color: var(--primary-white);
  max-width: 600px;
  font-size: 3rem;
  font-weight: bold;
  z-index: 100;
}

@media screen and (max-width: 900px) {
  .hero--header {
    font-size: 2rem;
    max-width: 500px;
  }
}
.search--bar {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.search--bar .search--icon {
  background-color: var(--primary-white);
  height: 40px;
  color: red;
  font-size: 28px;
  color: #a4a4a4;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search--bar input {
  height: 40px;
  width: 60%;
  border: none;
  padding: 0 18px 0 10px;
}
.search--bar input:focus {
  outline: none;
}
.search--bar button {
  height: 40px;
  width: 15%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
  font-size: 1rem;
}
.search--bar button:hover {
  cursor: pointer;
  background-color: var(--primary-very-dark-blue);
}

.company--logos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: var(--font-league-spartan);
  color: var(--primary-desaturated-blue);
  margin-top: 6px;
  padding: 10px;
}
.company--logos img {
  height: auto;
  width: 8vw;
  margin: 0 4px;
}

.field--container {
  margin-top: 10vh;
  height: 80vh;
  padding: 0 8em;
}
.field--container p {
  font-size: 34px;
  font-family: var(--font-league-spartan);
  font-weight: 600;
  padding: 20px 0;
}
.field--container .field--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2vh;
  height: 60vh;
}
.field--container .field--wrapper .field--card {
  position: relative;
  height: 50vh;
  width: auto;
  text-align: center;
  cursor: pointer;
  filter: brightness(75%);
  transition: 0.5s ease;
}
.field--container .field--wrapper .field--card:hover {
  filter: brightness(100%);
}
.field--container .field--wrapper .field--card span {
  position: absolute;
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}
.field--container .field--wrapper .field--card img {
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.field--container .field--wrapper .container-with-dots {
  margin-top: 10vh;
}
.field--container .field--wrapper .arrow--button {
  font-size: 30px;
  color: var(--primary-dark-blue);
}
.field--container .field--wrapper .arrow--button:hover {
  color: var(--primary-very-dark-blue);
  cursor: pointer;
}

.features--container {
  background-color: var(--primary-very-dark-blue);
  color: var(--primary-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5em 8em;
}
.features--container .features--textbox h1 {
  margin-bottom: 1em;
}
.features--container .features--textbox p {
  padding: 0.8em;
  font-size: 1.2em;
}
.features--container .features--imgbox img {
  width: 40vw;
  border-radius: 10px;
}

.testimonials--container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 8em;
}
.testimonials--container .testimonials--imgbox {
  margin: 0 4vw;
}
.testimonials--container .testimonials--imgbox img {
  width: 25vw;
  border-radius: 10px;
}
.testimonials--container .testimonials--textbox {
  margin: 0 4vw;
}
.testimonials--container .testimonials--textbox p {
  font-size: 1.8em;
  line-height: 1.3;
}
.testimonials--container .testimonials--textbox div {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 1.5em;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .hero--wrapper img {
    display: none;
  }

  .hero--wrapper {
    justify-content: center;
  }

  .company--logos {
    margin-top: 4vw;
  }
  .company--logos img {
    width: 12vw;
  }

  .field--container {
    padding: 0 4em;
  }
  .field--container p {
    text-align: center;
  }
  .field--container .card1 {
    display: none;
  }

  .features--container {
    flex-direction: column;
    padding: 3.5em 2em;
  }
  .features--container h1 {
    text-align: center;
  }
  .features--container .features--imgbox {
    padding-top: 10vh;
  }
  .features--container .features--imgbox img {
    width: 100%;
  }

  .testimonials--container {
    flex-direction: column;
    text-align: center;
    padding: 3.5em 2em;
  }
  .testimonials--container .testimonials--imgbox {
    margin: 0;
    margin-bottom: 5vh;
  }
  .testimonials--container .testimonials--imgbox img {
    width: 40vw;
  }
}
@media screen and (max-width: 720px) {
  .card2 {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  .hero--header {
    width: 100vw;
    text-align: center;
    padding: 10vw 0;
    font-size: 2rem;
  }
  .hero--header .search--bar {
    width: 100%;
    justify-content: center;
  }
  .hero--header .company--logos {
    margin-top: 6vw;
  }
  .hero--header .company--logos img {
    width: 12vw;
  }
}
@media screen and (max-width: 426px) {
  .hero--header {
    width: 80vw;
    text-align: center;
    padding: 10vw 0;
    font-size: 2rem;
  }

  .search--bar {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .search--bar .search--icon {
    display: none;
  }
  .search--bar input,
.search--bar button {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
  }

  .company--logos {
    font-size: 0;
    margin-top: 6vw;
  }
  .company--logos img {
    width: 18vw;
  }
  .company--logos .card2 {
    display: none;
  }

  .testimonials--container .testimonials--textbox {
    margin: 0;
  }
  .testimonials--container .testimonials--textbox p {
    font-size: 1em;
  }
  .testimonials--container .testimonials--textbox div {
    font-size: 1em;
  }
}
.header {
  font-family: var(--font-league-spartan);
  position: fixed;
  height: 80px;
  width: 100%;
  color: var(--primary-white);
  z-index: 100;
  background-color: transparent;
}
.header .brand--text {
  font-weight: 900;
  font-size: 45px;
  color: var(--primary-white);
  text-decoration: none;
}
.header .brand--text span {
  color: var(--primary-dark-blue);
  text-decoration: none;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 100%;
  padding: 0 6rem;
}
.header nav ul {
  list-style-type: none;
}
.header nav ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 22px;
  font-weight: 600;
}
.header nav ul li .nav--link {
  text-decoration: none;
  color: var(--primary-white);
}
.header nav ul li .nav--link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: var(--primary-dark-blue);
  transition: 0.3s ease;
}
.header nav ul li .nav--link:hover::after {
  width: 100%;
}
.header nav ul li .nav--link--active {
  text-decoration: underline;
  transform: scale(5);
}
.header nav ul li .nav--link--join {
  color: var(--primary-white);
  border: 2px solid var(--primary-white);
  border-radius: 5px;
  padding: 6px 22px;
  text-decoration: none;
}
.header nav ul li .nav--link--join:hover {
  background-color: var(--primary-dark-blue);
  border: 2px solid var(--primary-dark-blue);
  color: var(--primary-white);
  cursor: pointer;
}

.header--active {
  transition: 0.5s ease-in;
  background-color: var(--primary-white);
  color: var(--primary-black);
}
.header--active .brand--text {
  color: var(--primary-black);
}
.header--active nav ul li .nav--link {
  color: var(--primary-black);
  transition: 0.5s ease-in;
}
.header--active nav ul li .activepage::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: var(--primary-dark-blue);
}
.header--active nav ul li .nav--link--join {
  color: var(--primary-dark-blue);
  border: 2px solid var(--primary-dark-blue);
}
.header--active .toggle--button {
  color: var(--primary-black);
}

.brand--logo {
  display: flex;
  align-items: center;
}
.brand--logo h1 {
  margin-left: 2vw;
}

.toggle--button {
  color: var(--primary-white);
  font-size: 35px;
  display: none;
}

.nav--links--collapsed {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-white);
  padding: 1rem;
}
.nav--links--collapsed ul {
  list-style: none;
  text-align: center;
}
.nav--links--collapsed ul li {
  margin: 2rem;
}
.nav--links--collapsed ul li .nav--link {
  color: var(--primary-black);
  text-decoration: none;
  margin: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
.nav--links--collapsed ul li .nav--link--active {
  text-decoration: underline;
}
.nav--links--collapsed ul li .nav--link--join {
  color: var(--primary-white);
  border: 2px solid var(--primary-white);
  background-color: var(--primary-dark-blue);
  border: 2px solid var(--primary-dark-blue);
  border-radius: 5px;
  padding: 6px 22px;
  text-decoration: none;
  font-size: 2rem;
}
.nav--links--collapsed ul li .nav--link--join:hover {
  cursor: pointer;
}

.header--expand {
  z-index: 500;
  background-color: var(--primary-white);
  color: var(--primary-black);
}
.header--expand nav .brand--logo .brand--text {
  color: var(--primary-black);
}
.header--expand nav ul li .nav--link {
  color: var(--primary-black);
}
.header--expand nav ul li .nav--link--join {
  color: var(--primary-dark-blue);
}
.header--expand .toggle--button {
  color: var(--primary-black);
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
  }

  .toggle--button {
    display: block;
  }

  .header nav {
    padding: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .header nav {
    padding: 1rem;
  }

  .header nav h1 {
    font-size: 32px;
  }
  .header nav ul li {
    font-size: 18px;
  }
}
.talent--cards--wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 700px;
}

.talents--page--container {
  padding-top: 5rem;
  max-width: 1536px;
  margin: auto;
  min-height: 95vh;
}

.talents--page {
  background-color: #efefef;
}

.talents--page--view--card {
  display: flex;
  padding: 1rem;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  position: absolute;
  z-index: 100;
  background-color: var(--primary-white);
  right: 0px;
  top: 40px;
}

.talents--page--view--card--sort--section {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.filter--section--wrapper {
  display: flex;
}

.filter--group {
  margin: 0.5rem;
}

.filter--input--group input {
  margin-right: 10px;
  margin-bottom: 5px;
}

.talents--page--header {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  position: relative;
  padding: 1rem;
}

.sort--filter--button {
  float: right;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--primary-white);
  background-color: var(--primary-dark-blue);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.view--card--hidden {
  display: none;
}

@media screen and (max-width: 700px) {
  .filter--section--wrapper {
    flex-direction: column;
  }

  .talents--page--view--card--sort--section {
    flex-direction: column;
  }

  .sort--apply--button {
    margin: 0.5rem;
    width: 270px;
    display: inline-block;
  }

  .talents--page--view--card {
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 550px) {
  .talents--page--header {
    flex-direction: column;
    align-items: center;
  }

  .talents--page--header h2 {
    margin-bottom: 1rem;
    font-size: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 370px) {
  .talents--page--header h2 {
    font-size: 18px;
  }
}
.talents--view--feedback {
  display: inline-block;
  background-color: var(--primary-white);
  margin-left: 72px;
  border-radius: 5px;
  max-width: 800px;
  padding: 1rem;
}

.talents--displayed {
  display: block;
  font-weight: 700;
}

.talents--displayed--contents {
  display: inline-flex;
  align-items: center;
  border: 1px solid #d1d5db;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
  font-weight: 400;
}

.talents--remove--view {
  margin-left: 2px;
  cursor: pointer;
}

@media screen and (max-width: 744px) {
  .talents--view--feedback {
    margin: 1rem;
  }
}
.view--feedback--empty {
  display: none;
}

.talent--card {
  background-color: var(--primary-white);
  max-width: 300px;
  min-height: 550px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  filter: drop-shadow(2px 2px 5px rgba(164, 164, 164, 0.5));
  padding: 0 25px 25px 25px;
  margin: 2rem;
}

.talent--card--background {
  max-width: 300px;
  height: 105px;
  background-color: var(--primary-dark-blue);
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: 60px;
}

.talent--image--wrapper {
  position: absolute;
  top: 38px;
  left: 86px;
}

.talent--image--wrapper img {
  width: 128px;
  border: 3px solid var(--primary-white);
  border-radius: 50%;
}

.talent--card--header {
  text-align: center;
  margin-bottom: 14px;
}

.talent--card--name {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: var(--primary-black);
}

.talent--card--role {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 6px;
  color: var(--primary-desaturated-blue);
}

.talent--card--website {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}

.talent--card--button--wrapper {
  text-align: center;
  margin-bottom: 15px;
}

.talent--card--btn {
  padding: 9px 13px 9px 11px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  width: 115px;
  transition: all 0.5s;
  cursor: pointer;
  background: var(--primary-white);
  border-radius: 5px;
  color: var(--primary-black);
  border: 1px solid #d1d5db;
}

.talent--card--btn--logo {
  margin-right: 10px;
}

.talent--card--btn--email {
  margin-right: 12px;
  line-height: 18px;
}

.talent--card--btn--linkedin .talent--card--btn--logo {
  vertical-align: middle;
}

.talent--card--btn:hover {
  transform: scale(1.05);
}

.talent--card--experience--wrapper {
  text-align: center;
  font-family: var(--font-league-spartan);
  font-size: 18px;
  margin-bottom: 8px;
}

.talent--card--about--wrapper {
  text-align: start;
  color: var(--primary-black);
  margin-bottom: 10px;
}

.talent--card--about--header {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.talent--card--about {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.talent--card--fields--header {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
}

.talent--card--fields--wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.talent--card--fields {
  text-align: center;
  padding: 9px 31px 9px 31px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  padding: 5px;
  margin: auto;
  width: 220px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.talent--card--connect--button {
  width: 100%;
  height: 40px;
  color: var(--primary-white);
  background-color: var(--primary-dark-blue);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.talent--card--connect--button:hover {
  transform: scale(1.05);
}

.talent--card--delete--overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--primary-white);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.talent--card--delete--btn--wrappers {
  display: flex;
  margin: 0.5rem;
}

.talent--card--delete--btn--wrappers button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.25rem;
  background-color: var(--primary-dark-blue);
  border: none;
  color: var(--primary-white);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.talent--card--delete--btn--wrappers button:hover {
  transform: scale(1.05);
}

.talent--card--form--buttons {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.25rem;
  background-color: var(--primary-dark-blue);
  border: none;
  color: var(--primary-white);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.talent--card--form--buttons:hover {
  transform: scale(1.05);
}

.talent--card--email--overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--primary-white);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.talent--card--email--warning {
  text-align: center;
}

.talent--card--email--overlay button {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.25rem;
  background-color: var(--primary-dark-blue);
  border: none;
  color: var(--primary-white);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.talent--card--email--overlay button:hover {
  transform: scale(1.05);
}

.talent--card--linkedin--redirect {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.25rem;
  background-color: var(--primary-dark-blue);
  border: none;
  color: var(--primary-white);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
}

.talent--card--linkedin--redirect:hover {
  transform: scale(1.05);
}

.talent--card--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.talent--connected {
  margin: 0.5rem;
  margin-top: 0.75rem;
  font-size: 2.5rem;
  color: var(--primary-white);
  float: right;
}

.sign--up--container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  transition: all 0.5s;
}
.sign--up--container .sign--up--tittle {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.sign--up--container .sign--up--tittle .logo--name {
  font-weight: bold;
}
.sign--up--container .sign--up--tittle .logo--name .logo--period {
  color: var(--primary-dark-blue);
}

.sign--up--wrapper {
  position: relative;
  background-color: var(--primary-white);
  color: var(--primary-black);
  border-radius: 10px;
  padding: 3rem;
  width: 70vh;
  transition: all 0.5s;
}

.sign--up--close {
  text-decoration: none;
  color: inherit;
  margin-top: -45px;
  margin-right: -40px;
  float: right;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px 11px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: inherit;
}

.sign--up--close:hover {
  background-color: var(--primary-off-white);
  color: var(--primary-very-dark-blue);
}

.sign--up--wrapper > h2 {
  text-align: center;
  margin-bottom: 20px;
}

.sign--up--two--column {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.sign--up--two--column .sign--up--input--group {
  font-size: 15px;
  width: 49%;
}

.sign--up--notification {
  font-size: 11px;
  margin-left: 5px;
}

.sign--up--highlight {
  color: var(--primary-dark-blue);
  font-weight: bold;
}

.sign--up--error {
  color: #f94c66;
  font-weight: bold;
}

.sign--up--success {
  font-weight: bold;
  color: #009dae;
}

.sign--up--radio--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  font-size: 20px;
}

.sign--up--check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}
.sign--up--check input:focus {
  outline: none;
}

.sign--up--input--group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 10px;
}

.sign--up--input {
  padding: 9px 13px 9px 11px;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.5s;
  height: 50px;
  border: 1px solid var(--primary-dark-blue);
}
.sign--up--input:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--primary-desaturated-blue);
}

.sign--up--btn {
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
  font-weight: bold;
  height: 50px;
  padding: 9px 13px 9px 11px;
  border: 1px solid var(--primary-dark-blue);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
}

.sign--up--btn:hover {
  transform: scale(1.05);
}

.sign--up--footer {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.sign--up--wrapper > p > a {
  color: var(--primary-black);
}

@media screen and (max-width: 550px) {
  .sign--up--wrapper {
    padding: 1rem;
  }

  .sign--up--close {
    margin-top: 0px;
    margin-right: 0px;
  }
}
.signin--container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  transition: all 0.5s;
}

.signin--error--message {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #EF9F9F;
  margin-bottom: 10px;
}

.signin--wrapper {
  position: relative;
  background-color: var(--primary-white);
  color: var(--primary-black);
  border-radius: 10px;
  padding: 3rem;
  width: 60vh;
  transition: all 0.5s;
}
.signin--wrapper h1 {
  font-weight: 900;
  font-size: 40px;
}
.signin--wrapper h1 span {
  color: var(--primary-dark-blue);
}
.signin--wrapper h2 {
  margin-top: 10px;
  text-align: center;
  color: var(--primary-very-dark-blue);
  margin-bottom: 20px;
}

.signin--close {
  text-decoration: none;
  color: inherit;
  margin-top: -35px;
  margin-right: -30px;
  float: right;
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px 11px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: inherit;
}

.signin--close:hover {
  background-color: var(--primary-off-white);
  color: var(--primary-very-dark-blue);
}

.signin--wrapper > h4 {
  text-align: center;
  margin-bottom: 20px;
}

.signin--input--group {
  font-size: 15px;
}

.signin--notification {
  font-size: 10px;
  margin-left: 5px;
}

.signin--error {
  color: #EF9F9F;
  font-weight: bold;
}

.signin--success {
  font-weight: bold;
  color: #3EC70B;
}

.signin--input--group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 10px;
}

.signin--input {
  padding: 9px 13px 9px 11px;
  border-radius: 6px;
  font-size: 14px;
  transition: all 0.5s;
  height: 50px;
  border: 1px solid var(--primary-dark-blue);
}

.signin--input:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--primary-desaturated-blue);
}

.signin--btn {
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
  font-weight: bold;
  height: 50px;
  padding: 9px 13px 9px 11px;
  border: 1px solid var(--primary-dark-blue);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
}

.signin--btn:hover {
  transform: scale(1.05);
}

.signin--wrapper > p {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}
.signin--wrapper > p a {
  color: #000000;
}

.pagination--container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  gap: 10px;
  padding-bottom: 2rem;
}

.pagination--previous--wrapper {
  grid-column: 1/2;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
}

.pagination--pages--wrapper {
  grid-column: 2/3;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination--next--wrapper {
  grid-column: 3/4;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.pagination--pages {
  text-decoration: none;
  color: var(--primary-black);
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: var(--primary-white);
  border: 1px solid #d1d5db;
  cursor: pointer;
}

.pagination--pages--active {
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
}

.pagination--prev,
.pagination--next {
  background-color: var(--primary-dark-blue);
  border: none;
  color: var(--primary-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.pagination--prev {
  padding: 0.5rem 0.65rem 0.4rem 0.25rem;
}

.pagination--next {
  padding: 0.5rem 0.25rem 0.4rem 0.65rem;
}

.pagination--prev > img,
.pagination--next > img {
  width: 20px;
}

footer {
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: var(--primary-desaturated-blue);
  color: var(--primary-white);
  font-family: var(--font-league-spartan);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8em;
}
footer p {
  text-align: center;
}
footer .footer--brand h1 {
  font-weight: 900;
  font-size: 35px;
}
footer .footer--brand h1 span {
  color: var(--primary-dark-blue);
}
footer .footer--logos span {
  font-size: 2rem;
  padding: 0 10px;
  transition: 1s ease;
}
footer .footer--logos span:hover {
  color: var(--primary-dark-blue);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 0 2em;
  }
}
@media screen and (max-width: 560px) {
  footer {
    height: auto;
    padding: 18px;
    flex-direction: column;
  }

  p, .footer--brand, .footer--logos {
    margin: 1vh auto;
  }
}
.about--us--container {
  display: flex;
  flex-direction: column;
}

.about--us--mission--wrapper {
  height: 80vh;
  width: 100%;
  background-color: var(--primary-dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 8em;
  gap: 30px;
}
.about--us--mission--wrapper .about--us--img-box {
  min-width: 300px;
  max-width: 500px;
}
.about--us--mission--wrapper .about--us--img-box img {
  margin-top: 10vh;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about--us--mission--wrapper .about--us--mission {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  text-align: center;
  width: 40vw;
}
.about--us--mission--wrapper .about--us--mission h1 {
  text-transform: uppercase;
  font-size: 34px;
}
.about--us--mission--wrapper .about--us--mission p {
  padding: 20px;
  font-size: 24px;
}

.about--us--vision--wrapper {
  height: 80vh;
  width: 100%;
  background-color: var(--primary-off-white);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 8em;
  gap: 30px;
}
.about--us--vision--wrapper .about--us--img-box {
  min-width: 300px;
  max-width: 500px;
}
.about--us--vision--wrapper .about--us--img-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about--us--vision--wrapper .about--us--vision {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--primary-dark-blue);
  text-align: center;
  width: 40vw;
}
.about--us--vision--wrapper .about--us--vision h1 {
  text-transform: uppercase;
  font-size: 34px;
}
.about--us--vision--wrapper .about--us--vision p {
  padding: 20px;
  font-size: 24px;
}

.about--us--goal--wrapper {
  height: 80vh;
  width: 100%;
  background-color: var(--primary-dark-blue);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 8em;
  gap: 30px;
}
.about--us--goal--wrapper .about--us--img-box {
  min-width: 300px;
  max-width: 500px;
}
.about--us--goal--wrapper .about--us--img-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about--us--goal--wrapper .about--us--goal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  text-align: center;
  width: 40vw;
}
.about--us--goal--wrapper .about--us--goal h1 {
  text-transform: uppercase;
  font-size: 34px;
}
.about--us--goal--wrapper .about--us--goal p {
  padding: 20px;
  font-size: 24px;
}

.our--team--container {
  color: var(--primary-dark-blue);
  margin-top: 10vh;
  padding: 30px;
}
.our--team--container h1 {
  text-align: center;
}

.our--team--wrapper {
  margin-top: 5vh;
  margin-bottom: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.our--team--wrapper .my--team {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.our--team--wrapper .my--team .my--team--img-box {
  width: 200px;
}
.our--team--wrapper .my--team .my--team--img-box img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  outline: 2px solid var(--primary-dark-blue);
}

@media screen and (max-width: 810px) {
  .about--us--mission--wrapper {
    margin-top: 10vh;
    height: 100vh;
    flex-direction: column;
  }
  .about--us--mission--wrapper .about--us--img-box {
    width: 20vw;
  }
  .about--us--mission--wrapper .about--us--mission {
    width: 100vw;
  }

  .about--us--vision--wrapper {
    height: 100vh;
    flex-direction: column;
  }
  .about--us--vision--wrapper .about--us--img-box {
    width: 50vw;
  }
  .about--us--vision--wrapper .about--us--vision {
    width: 100vw;
  }

  .about--us--goal--wrapper {
    height: 100vh;
    flex-direction: column;
  }
  .about--us--goal--wrapper .about--us--img-box {
    width: 20vw;
  }
  .about--us--goal--wrapper .about--us--goal {
    width: 100vw;
  }
}
.profile--page--container {
  min-height: 95vh;
  padding-top: 5rem;
  background-color: var(--primary-off-white);
}

.account--info--wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.account--card {
  width: 300px;
  min-height: 150px;
  border: 2px solid var(--primary-gray);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-white);
  margin: 1rem;
}

.account--card--header {
  width: 296px;
  height: 50px;
  margin: -1rem -1rem 0.5rem -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-white);
  background-color: var(--primary-dark-blue);
  border-radius: 5px 5px 0 0;
}

.account--card--content {
  margin: 0.25rem;
}

.account--card--btn--wrapper {
  align-self: center;
}

.account--card--edit--btn {
  background-color: var(--primary-dark-blue);
  color: var(--primary-white);
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  margin: 0.25rem 0;
  text-align: center;
  display: block;
}

.account--card--error--wrapper {
  background-color: #eb6464;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

.account--card--edit--error {
  font-size: 0.9rem;
  color: #fff;
}

.account--card--success--wrapper {
  background-color: rgb(166, 209, 166);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}

.account--card--edit--success {
  font-size: 0.9rem;
  color: var(--primary-black);
}

.account--card--password--wrapper {
  align-self: flex-start;
}

.hunter--card {
  text-align: center;
}

.profile--connections--wrapper {
  max-width: 1536px;
  margin: auto;
}

.profile--connections--header {
  text-align: center;
}

.account--info--header {
  text-align: center;
  margin: 1rem;
  margin-top: 2rem;
}

.profile--pagination--wrapper {
  padding: 1rem;
}

.hunter--card--content {
  text-align: start;
}